<div class="detailPageWrap" *ngIf="game">
    <div class="detailContainer">
        <div class="gameBGImage" style="background-image: url('../../assets/images/{{game.img}}');">
        </div>
        <h1>{{game.name}}</h1>
        <h3>
            Available on:
            <span *ngFor="let platform of game.platforms; let index = index;">{{platform}}<span *ngIf="game.platforms.length - 1 > index">, </span></span>
        </h3>
        <h3>Released {{game.releaseYear}}</h3>
        <div >
            <form class="reviewForm" [formGroup]="reviewForm" (ngSubmit)="onSubmit()">
                <div>
                    <label class="titleLabel">
                        Title:
                        <input type="text" formControlName="title"/>
                    </label>
                    <label class="ratingLabel">
                        Rating
                        <input type="range" min="0" max="10" formControlName="rating"/>
                        {{reviewForm.value.rating}}/10
                    </label>
                </div>
                <label>
                    Content<br/>
                    <textarea formControlName="content"></textarea>
                </label>
                <input type="submit" [disabled]="!reviewForm.valid"/>
            </form>
        </div>
        <div *ngFor="let review of reviews" class="reviewContainer">
            <h1>
                <span class="rate{{review.rating}}">{{review.rating}}/10</span>
                {{review.title}}
            </h1>
            <h4>by <span class="bold">{{review.username}}</span> on <span class="bold">{{review.createdAt | date}}</span></h4>
            <p>
                {{review.content}}
            </p>
        </div>
    </div>
</div>