.detailPageWrap {
    * {
        font-weight: 100;
    }
    .detailContainer {
        position: relative;
        color: rgb(219, 219, 219);
        width: 90%;
        height: fit-content;
        margin: 0 auto;
        padding: 10px 50px;
        padding-bottom: 50px;
        border-top: 1px solid silver;
        border-bottom: 1px solid silver;
        border-radius: 1px;
        background-color: rgba(0,0,0,.7);
        .gameBGImage {
            mask-image: linear-gradient(90deg,rgba(0,0,0,0), rgba(0,0,0,1), rgba(0,0,0,0));
            background-repeat: no-repeat;
            background-position: top;
            background-size: cover;
            filter: blur(5px);
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: calc(100vw * 1.5);
            max-height: 100%;
            z-index: -1;
        }
        .gameName {
            font-size: 40px;
            font-weight: 300;
        }
        .detailFlex {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .detailText {
            margin-left: 20px;
        }
        .gameDisplayImage {
            margin: 20px 10% 20px 0;
            img{
                border-radius: 3px;
                border: 1px solid silver;
                box-shadow: 0 0 10px 0 white;
            }
        }
        .ratingCircle {
            border: 1px solid silver;
            border-radius: 50%;
            height: 150px;
            width: 150px;
            margin: 0 auto;
            margin-top: 20px;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        .gameDescription {
            text-indent: 20px;
        }
        .gameRating {
            text-align: center;
            font-size: 50px;
        }
        .ratingLabel {
            text-align: center;
            font-size: 12px;
        }
        .reviewHeader {
            text-align: center;
            margin: 50px auto 25px auto;
            width: 200px;
            border-bottom: 1px solid silver;
        }
        .reviewForm {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 10px;
            // border: 1px solid silver;
            font-size: 20px;
            .titleLabel {
                border-bottom: 1px solid silver;
            }
            .ratingLabel {
                margin: 0 50px;
            }
            input[type=text] {
                background-color: transparent;
                border: none;
                color: silver;
                font-size: 18px;
                width: 350px;
            }
            input[type=submit] {
                width: 100px;
                background-color: transparent;
                color: silver;
                border: 1px solid silver;
                font-size: 20px;
            }
            input[type='range'] {
                overflow: hidden;
                width: 120px;
                border-radius: 5px;
                border: 1px solid black;
                -webkit-appearance: none;
                background-color: #ff8080;
            }
            input[type='range']::-webkit-slider-runnable-track {
                height: 10px;
                -webkit-appearance: none;
                color: #fafffe;
                margin-top: -1px;
            }
            input[type='range']::-webkit-slider-thumb {
                width: 10px;
                -webkit-appearance: none;
                height: 11px;
                border-radius: 5px;
                cursor: ew-resize;
                background: #ffffff;
                border: 1px solid black;
                box-shadow: -83px 0 0 80px #88ff88;
            }
            textarea {
                resize: none;
                color: silver;
                font-size: 16px;
                padding: 5px;
                width: 100%;
                height: 100px;
                background-color: transparent;
                border: 1px solid silver;
                border-radius: 3px;
            }
            label {
                margin: 10px 0;
            }
        }
        .reviewContainer {
            border-radius: 3px;
            background-color: rgba(0, 0, 0, 0.3);
            box-shadow: 0 0 10px 0 white;
            padding: 10px;
            margin: 15px 10px;
            p {
                margin: 10px 0;
            }
            .bold {
                font-weight: bold;
                font-size: 20px;
            }
            .rate0 {
                color: rgb(117, 55, 0)
            }
            .rate1 {
                color: red
            }
            .rate2 {
                color: rgb(255, 65, 0)
            }
            .rate3 {
                color: rgb(255, 110, 0)
            }
            .rate4 {
                color: rgb(238, 143, 0)
            }
            .rate5 {
                color: rgb(255, 200, 0)
            }
            .rate6 {
                color: rgb(251, 255, 0)
            }
            .rate7 {
                color: rgb(212, 255, 57)
            }
            .rate8 {
                color: rgb(136, 228, 38)
            }
            .rate9 {
                color: rgb(41, 190, 0)
            }
            .rate10 {
                color: rgb(0, 187, 85)
            }
        }
    }
}