/* You can add global styles to this file, and also import other style files */
* {
    font-family: avenir;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
}
body {
    background-image: url('./assets/images/Untitled.png');
    background-size: 200px 200px;
}
.gameCard {
    background-color: rgb(54, 54, 54);
    width: 182px;
    margin: 7px;
    border-radius: 1px;
    border: 1px solid rgb(99, 99, 99);
    .gameImage {
        height: 215px;
        width: 180px;
        background-size: cover;
        background-position: center;
    }
    .gameInfo {
        height: 50px;
        padding: 3px 5px;
        border-top: 1px solid rgb(99, 99, 99);
        h2 {
            color: rgb(255, 240, 240);
            font-size: 12px;
        }
    }
}