/* You can add global styles to this file, and also import other style files */

* {
    font-family: 'Noto Sans SC', sans-serif;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
}
body {
    background-image: url('./assets/images/Untitled.png');
    background-size: 200px 200px;
}
.gameCard {
    background-color: rgb(54, 54, 54);
    width: 182px;
    margin: 7px;
    border-radius: 1px;
    border: 1px solid rgb(99, 99, 99);
    transition: .3s;
    .gameImage {
        height: 215px;
        width: 180px;
        background-size: cover;
        background-position: top center;
        transition: .3s;
    }
    .gameInfo {
        position: relative;
        height: 45px;
        padding: 2px 3px;
        border-top: 1px solid rgb(99, 99, 99);
        line-height: 12px;
        h2 {
            color: rgb(255, 240, 240);
            font-size: 12px;
        }
        .releaseYear {
            position: absolute;
            bottom: 3px;
            left: 2px;
        }
        .gameRating {
            position: absolute;
            bottom: 3px;
            right: 2px;
            font-size: 15px;
        }
    }
}
.gameCard:hover {
    width: 189px;
    margin: 7px 3.5px;
    box-shadow: 0 0 8px 0 rgba(255, 255, 255, 0.9);
    .gameImage {
        width: 187px
    }
}