.topBar {
    height: 50px;
    width: 100%;
    background-color: rgb(22, 16, 16);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    h1 {
        color: rgb(238, 245, 255);
        margin: 0 20px;
    }
    .searchBar {
        width: 250px;
        height: 20px;
        padding: 0 10px;
        border-radius: 9% / 100%;
        border: none;
    }
}